<div class="container">
  <div class="about-section">
    <h1>Sobre nosotros</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique arcu ac auctor convallis. Aenean
      sagittis scelerisque sem eget tincidunt. Duis lobortis, arcu dictum iaculis tristique, ante massa faucibus enim,
      rutrum interdum mi sem semper risus. Nunc euismod ipsum in neque convallis placerat. Duis nec tempus massa, in
      dignissim quam. Suspendisse potenti. Nunc at mauris venenatis urna posuere tempus. Suspendisse sem libero,
      fermentum sit amet interdum eget, sodales eu justo. Nam erat lorem, ullamcorper non lectus ut, aliquam varius
      mi. Donec fringilla erat at cursus dignissim. Fusce imperdiet hendrerit lectus eu faucibus.</p>
  </div>
  <hr class="text-white">

  <h2 style="text-align:center" class="text-white">Nuestro equipo</h2>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <img src="../../assets/img/izan.png" alt="Izan" class="m-3 my-5 caraizan">
        </div>
        <div class="cartaperfil">
          <div class="carta mb-5">
            <div class="container">
              <h2 class="pt-2">Izan Dueso</h2>
              <p class="title">Web Developer Full-Stack</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p><i class="bi bi-envelope-fill"></i> izandueso@gmail.com</p>
              <p><button class="botonvisualizar mt-2">Contactar</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="../../assets/img/joel.png" alt="Joel" class="m-3 my-5 carajoel">
        </div>
        <div class="cartaperfil">
          <div class="carta mb-5">
            <div class="container">
              <h2 class="pt-2">Joel Romero</h2>
              <p class="title">Web Developer Full-Stack</p>
              <p>Me gustan los perros. Front-end dev professional <i class="bi bi-hand-thumbs-up"></i></p>
              <p><i class="bi bi-envelope-fill"></i> joelaguilar2911@gmail.com</p>
              <p><button class="botonvisualizar mt-2">Contactar</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
