<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="card mt-4 mb-4 text-center" style="height: 20rem;">
        <div class="card-body">
          <button type="button" class="botonusuario mb-3"><i class="bi bi-person-circle"></i></button>
          <h5 class="card-title">{{ user.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
          <p class="card-text">Salou, Spain</p>
          <button class="btn"><i class="bi bi-linkedin"></i> LinkedIn</button>
          <button class="btn"><i class="bi bi-browser-edge"></i> Website</button>
        </div>
      </div>


    </div>
    <div class="col-8">

      <div class="card mt-4 mb-4 crud" style="height: 45rem;">
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="izq mb-1">Mostrar: <select class="select">
                    <option selected>5</option>
                    <option value="1">10</option>
                    <option value="2">15</option>
                    <option value="3">20</option>
                  </select> registros
                </div>
                <div class="text-end subir mb-1">
                  <input type="text" placeholder="Buscar usuario" aria-label="Search">
                </div>

                <table class="table fondotabla">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Username</th>
                    <th scope="col">Rol</th>
                    <th scope="col">CRUD</th>
                  </tr>
                  <tr *ngFor="let u of users">
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.surname }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.roles[0].name }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="botonvisualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botoneditar"><i class="bi bi-pencil-fill"></i></button>
                        <button type="button" class="botoneliminar" (click)="deleteUser( u.id )"><i class="bi bi-person-x-fill"></i></button>
                      </div>
                    </td>
                  </tr>
                </table>
                <div style="text-align: left;">Mostrando del 1 al 5 en un total de 5 registros
                  <br><button type="button" class="botonvisualizar mt-2">Añadir usuario</button>
                </div>

                <div class="subirindice" style="text-align: right;">
                  <button type="button" class="botonvisualizar mt-2">Anterior</button>
                  <button type="button" class="botonvisualizar mt-2">1</button>
                  <button type="button" class="botonvisualizar mt-2">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>

</div>
