<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="card mt-4 mb-4 text-center" style="height: 20rem;">
        <div class="card-body">
          <button type="button" class="botonusuario mb-3"><i class="bi bi-person-circle"></i></button>
          <h5 class="card-title">{{ user.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
          <p class="card-text">Salou, Spain</p>
          <button class="btn"><i class="bi bi-linkedin"></i> LinkedIn</button>
          <button class="btn"><i class="bi bi-browser-edge"></i> Website</button>
        </div>
      </div>


    </div>

    <div class="col-8">
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <div class="container text-center">

            <button type="button" class="btn btn-primary mt-2" (click)="showUsers()">Usuarios</button>&nbsp;
            <button type="button" class="btn btn-primary mt-2" (click)="showSkills()">Skills</button>

            <div class="row" *ngIf="showUser">
              <div class="col">
                <div class="izq mb-1">
                  <button type="button" class="botonvisualizar mt-2" (click)="showAddUsers()">Añadir usuario</button>
                </div>
                <div class="text-end subir mb-2">
                  <input type="text" placeholder="Buscar usuario" aria-label="Search">
                </div>

                <table class="table fondotabla">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Username</th>
                    <th scope="col">Rol</th>
                    <th scope="col">CRUD</th>
                  </tr>
                  <tr *ngFor="let u of users">
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.surname }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.roles[0].name }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="botonvisualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botoneditar" (click)="showsUserToEdit( u.username )"><i class="bi bi-pencil-fill"></i></button>
                        <button type="button" class="botoneliminar" (click)="deleteUser( u.id )"><i
                            class="bi bi-person-x-fill"></i></button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row mt-3 text-start" *ngIf="showUserToEdit">
              <div class="col">
                <div class="submit-form">
                  <div class="form-group mt-2">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="userToEdit.name">
                  </div>
                  <div class="form-group mt-2">
                    <label for="surname">Apellido:</label>
                    <input type="text" class="form-control" id="surname" required [(ngModel)]="userToEdit.surname">
                  </div>
                  <div class="form-group mt-2">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" required [(ngModel)]="userToEdit.username">
                  </div>
                  <div class="form-group mt-2">
                    <label for="roles">Roles:</label>
                    <input type="text" class="form-control" id="roles" required [(ngModel)]="userToEdit.roles[0].name">
                  </div>

                  <button class="btn btn-success mt-3" (click)="updateUser( userToEdit.id )">Actualizar</button>

                  <div *ngIf="submitted" class="mt-1">Actualizado correctamente</div>
                </div>
              </div>
            </div>

            <div class="row mt-3 text-start" *ngIf="showAddUser">
              <div class="col">
                <div class="submit-form">
                  <div class="form-group mt-2">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="userToAdd.name">
                  </div>
                  <div class="form-group mt-2">
                    <label for="surname">Apellido:</label>
                    <input type="text" class="form-control" id="surname" required [(ngModel)]="userToAdd.surname">
                  </div>
                  <div class="form-group mt-2">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" required [(ngModel)]="userToAdd.username">
                  </div>
                  <div class="form-group mt-2">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" required [(ngModel)]="userToAddPassword">
                  </div>

                  <button class="btn btn-success mt-3" (click)="addUser()">Añadir</button>

                  <div *ngIf="submitted" class="mt-1">Añadido correctamente</div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="showSkill">
              <div class="col">
                <div class="izq mb-1">
                  <button type="button" class="botonvisualizar mt-2" (click)="showAddSkills()">Añadir skill</button>
                </div>
                <div class="text-end subir mb-2">
                  <input type="text" placeholder="Buscar skill" aria-label="Search">
                </div>

                <table class="table fondotabla">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">CRUD</th>
                  </tr>
                  <tr *ngFor="let s of skills">
                    <th scope="row">{{ s.id }}</th>
                    <td>{{ s.name }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="botoneditar" (click)="showsSkillToEdit( s.id )"><i class="bi bi-pencil-fill"></i></button>
                        <button type="button" class="botoneliminar" (click)="deleteSkill( s.id )"><i
                            class="bi bi-person-x-fill"></i></button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row mt-3 text-start" *ngIf="showSkillToEdit">
              <div class="col">
                <div class="submit-form">
                  <div class="form-group mt-2">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="skillToEdit.name">
                  </div>

                  <button class="btn btn-success mt-3" (click)="updateSkill( skillToEdit.id )">Actualizar</button>

                  <div *ngIf="submitted" class="mt-1">Actualizado correctamente</div>
                </div>
              </div>
            </div>

            <div class="row mt-3 text-start" *ngIf="showAddSkill">
              <div class="col">
                <div class="submit-form">
                  <div class="form-group mt-2">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="skillToAdd.name">
                  </div>

                  <button class="btn btn-success mt-3" (click)="addSkill()">Añadir</button>

                  <div *ngIf="submitted" class="mt-1">Añadido correctamente</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>

</div>
