<div class="container text-center">

  <div class="row">
    <div class="col">
      <h1 class="titulo">
        Ofrecemos soluciones modernas para valorar tus Skills
      </h1>
      <h3 class="subtitulo">
        Nuestro equipo se encargará de ayudarte y guiarte
      </h3>
      <button class="botonlanding" routerLink="/login">Empezar <i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    <div class="col fondocol"></div>
  </div>
  <div class="container text-center">

    <div class="row mt-5">
      <div class="col">

        <div class="card mb-5 p-3 shadow card2" style="width: 20rem;">
          <img src="../../assets/img/Creative team-rafiki.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title-custom">Skills totalmente personalizadas</h5>
            <p class="card-text">Muestra tus habilidades al mundo, como jamás lo habías hecho.</p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card mb-5 p-3 shadow card2" style="width: 20rem;">
          <img src="../../assets/img/Team work-rafiki.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title-custom">Posiciones para todos los perfiles</h5>
            <p class="card-text">Selecciona las candidaturas que se ajusten más a tus preferencias.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 p-3 shadow card2" style="width: 20rem;">
          <img src="../../assets/img/Design community-pana.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title-custom">Valoramos tus Skills</h5>
            <p class="card-text">Accede a diferentes pruebas técnicas para que nuestro equipo de especialistas puntúen
              tus habilidades.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="text-align: left;">
    <div class="row separacion_row">
      <div class="col">
        <div class="mb-5 p-3">
          <div>
            <h2 class="mt-3"></h2>
            <h2 class="text-light" style="text-shadow: 21rem;">Inscripción inmediata</h2>
            <p class="text-light">Regístrate ahora para obtener acceso inmediato a la Inscripción de candidaturas. ¿A
              qué esperas?</p>
            <button class="btn btn-danger" routerLink="/login">Acceder ahora</button>
          </div>
        </div>
      </div>
      <div class="col del">
        <img src="../../assets/img/Team goals-amico.png" class="imagen_custom" alt="candidatura">
      </div>
    </div>
  </div>
  <div class="container" style="text-align: left;">
    <div class="row separacion_row">
      <div class="col del">
        <img src="../../assets/img/Team goals-cuate.png" class="imagen_custom" alt="candidatura">
      </div>
      <div class="col">
        <div class="mb-5 p-3">
          <div>
            <h2 class="mt-3"></h2>
            <h2 class="text-light" style="text-shadow: 21rem;">Infinitas posibilidades</h2>
            <p class="text-light">Escoge entre una amplia variedad de ofertas de trabajo. Siempre podrás encontrar
              aquellas que más se ajusten a tu perfil y al objetivo profesional que estás buscando. Una vez inscrit@,
              podrás acceder a las diferentes pruebas técnicas de la oferta laboral.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
