<div class="container text-center">

  <div class="row">
    <div class="col">
      <h1 class="titulo">
        Ofrecemos soluciones modernas para valorar tus skills
      </h1>
      <h3 class="subtitulo">
        Nuestro equipo se encargara de ayudarte y guiarte
      </h3>
      <button class="botonlanding">Empezar <i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    <div class="col fondocol"></div>
  </div>
  <div class="container text-center">

    <div class="row mt-5">
      <div class="col">

        <div class="card mb-5 p-3 shadow card2" style="width: 18rem;">
          <img src="../../assets/img/fondo.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title">Skills personalizadas</h5>
            <p class="card-text">Muestra tus habilidades al mundo</p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card mb-5 p-3 shadow card2" style="width: 18rem;">
          <img src="../../assets/img/2.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title">Skills personalizadas</h5>
            <p class="card-text">Muestra tus habilidades al mundo</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 p-3 shadow card2" style="width: 18rem;">
          <img src="../../assets/img/1.png" class="card-img-top" alt="candidatura">
          <div class="card-body">
            <h5 class="card-title">Skills personalizadas</h5>
            <p class="card-text">Muestra tus habilidades al mundo</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
