<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <div class="card mt-4">
            <div class="card-body">
              <div class="container text-center">
                <div class="row">
                  <div class="col izq">
                    <h1>Nombre Empresa</h1>
                    <hr>
                    <span class="tam">Aliquam elementum ultricies felis et aliquam. Etiam nisl augue, interdum in
                      lacinia vel, mollis ut eros. Nunc non condimentum mauris. Maecenas tempor, orci vel cursus
                      lacinia, nulla justo placerat magna, sit amet tincidunt mauris ligula nec est. Etiam tincidunt
                      imperdiet dolor sit amet eleifend. Aenean scelerisque sollicitudin justo, non luctus mi vulputate
                      in. Nunc quis est velit. Curabitur sed dui dapibus, varius lorem nec, maximus mauris. Integer ac
                      lorem at sem pharetra malesuada. Ut mattis volutpat porta. Fusce sed fermentum leo, eget ultrices
                      nisi. In at est id turpis rhoncus lobortis a sed felis. Suspendisse potenti. Proin urna enim,
                      ultricies sed eleifend nec, sodales tempus est. Maecenas eu tristique tortor. Pellentesque at
                      venenatis lacus.

                      In imperdiet lectus quis elit sollicitudin molestie. Curabitur nec interdum nisi. In aliquam,
                      dolor at volutpat dapibus, ante ligula mattis mi, eu tempor ex lacus nec diam. Quisque laoreet
                      felis eu nunc commodo posuere. Maecenas faucibus vitae nulla ac scelerisque. Aenean lectus lorem,
                      aliquam sed leo nec, efficitur aliquam ex. Aliquam quis urna est. Sed blandit nisl a suscipit
                      lacinia. Aenean pretium quam vitae rutrum bibendum. Aliquam varius magna ut massa finibus, at
                      placerat ipsum porttitor. Nulla convallis mi vitae augue accumsan, quis dignissim ex semper. Nam
                      varius feugiat porta. Vivamus mattis ligula at eros cursus, at ultrices lectus eleifend. Nulla
                      pharetra mi leo, non imperdiet sem dictum id.</span>
                    <br><button type="button" class="btn btn-primary mt-3">Apuntarme</button>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
